<div class="materia materia-lista-item">
  <div class="materia-cover">
    <img src="https://placehold.co/1280x720" alt="temp" />
  </div>

  <div class="materia-titulo-conteiner">
    <h2 class="materia-titulo">Lorem ipsum dolor sit amet.</h2>
  </div>

  <div class="materia-autor">
    <span class="materia-autor-item">
      <i class="fas fa-user"></i>
      Kauã de Andrade Rodrigues
    </span>
    <span class="materia-autor-item">
      <i class="fas fa-calendar-alt"></i>
      26/02/2026 às 19:52
    </span>
    <span class="materia-autor-item">
      <a href="/subject/category/programacao">
        <i class="fa-solid fa-computer"></i>
        <span>Programação</span>
      </a>
    </span>
  </div>

  <div class="materia-conteudo">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni
      reiciendis, sint corrupti dolorum placeat, numquam enim esse magnam natus
      ullam neque veritatis repellendus, laudantium quos labore officia quidem
      molestias sed dolores quo incidunt velit? Iste corrupti assumenda fugit
      commodi dolor sint, modi sunt obcaecati minus provident ea a praesentium
      maxime.
    </p>
  </div>

  <div class="materia-meta-conteiner">
    <div class="materia-meta materia-tempo">
      <h3 class="materia-meta-titulo">
        <i class="fa-solid fa-stopwatch"></i>
        Horas estudadas
      </h3>
      <div class="materia-meta-texto">10.4 horas</div>
    </div>

    <div class="materia-meta materia-ultima-sessao">
      <h3 class="materia-meta-titulo">
        <i class="fa-solid fa-calendar-day"></i>
        Última sessão
      </h3>
      <div class="materia-meta-texto">4 dias atrás</div>
    </div>
  </div>

  <footer class="materia-rodape">
    <a href="/materias/programacao/">
      <i class="fa-solid fa-eye"></i>
      <span>Ver mais...</span>
    </a>
  </footer>
</div>
