<!doctype html>
<html lang="pt-br">
    {% include "estudos/parciais/head.html" %}

    <body>
        {% include "estudos/parciais/cabecalho.html" %}
        {% include "estudos/parciais/busca.html" %}

        <main class="principal-conteudo-conteiner">
            <div class="principal-conteudo principal-conteudo-lista conteiner">
                {% include "estudos/parciais/materia.html" %}
            </div>
        </main>
        {% include "estudos/parciais/rodape.html" %}
    </body>
</html>
